@charset "utf-8";
.wrapper {
	margin: 0;
	text-align: center;
	font-size:12px;
}
a.text:link {
	color:#0063DC;
	outline-color:invert;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}
a.text:visited {
	color:#0063DC;
	text-decoration:none;
}
a.text:hover {
	color:#FFFFFF;
	background:#0063DC;
	text-decoration:none;
}
a.text:active {
	color:#0063DC;
	background:#D2E4FC;
	text-decoration:none;
}
.top {
	height: 100px;
	overflow: hidden;
	position: relative;
	background: #005C99;
	background-repeat: repeat-x;
	background-position: top;
}
.topinner {
	width: 950px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.logo {
	display: inline;
	float: left;
	width: 255px;
	height: 100px;
	margin-left: 20px;
	overflow: hidden;
}
.navlan {
	height: 23px;
	font-size: 12px;
	color: #cccccc;
	line-height: 23px;
	overflow: visible;
	position: absolute;
	right: 25px;
	bottom: 5px;
}
.navlan a:link {
	padding: 0 1px;
	color: #D3EDF4;
	text-decoration: none;
}
.navlan a:visited {
	padding: 0 1px;
	color: #D3EDF4;
	text-decoration: none;
}
.navlan a:hover {
	padding: 0 1px;
	color: #82CA25;
	background: none;
}
.navlan a:active {
	padding: 0 1px;
	color: #D3EDF4;
	background: none;
}
.topnav {
	height: 23px;
	font-size: 14px;
	color: #ffffff;
	line-height: 23px;
	overflow: visible;
	position: absolute;
	right: 20px;
	top: 0;
	text-shadow:1px 1px 0 #000;
}
.topnavmdl {
	display: inline;
	float: left;
	width: auto;
	height: 32px;
	font-size: 12px;
	overflow: hidden;
}
.topnavmdl a:link {
	padding: 0 5px;
	color: #D3EDF4;
	text-decoration: none;
}
.topnavmdl a:visited {
	padding: 0 5px;
	color: #D3EDF4;
	text-decoration: none;
}
.topnavmdl a:hover {
	padding: 0 5px;
	color: #82CA25;
	background: none;
}
.topnavmdl a:active {
	padding: 0 5px;
	color: #D3EDF4;
	background: none;
}
.nav_wrapper_flat_1, .nav_wrapper_flat_1 li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
.mainnav {
	height:25px;
	left:20px;
	bottom:0pt;
	font-size: 0.85em;
	position:absolute;
}
.mainnav_flat_1 {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:1;
	margin:0;
	padding:0;
}
.mainnav_flat_1 li {
	color: #fff;
	float: left;
	margin: 0pt 3px;
}
.mainnav_flat_1 li a, .mainnav_flat_1 li a:visited {
	background:#47BFF3 none repeat scroll 0%;
	border-bottom:medium none !important;
	border-left:1px solid #75C9E5;
	border-right:1px solid #75C9E5;
	border-top:1px solid #75C9E5;
	color:#fff;
	display:block;
	font-size:13px;
	font-weight:bold;
	padding:6px 10px 4px;
	text-decoration:none;
}
.mainnav_flat_1 li a img {
	margin:1px -2px 0 2px;
}
.mainnav_flat_1 li a.this, .mainnav_flat_1 li a.this:visited {
	padding: 6px 10px 5px;
	background: #fff none repeat scroll 0%;
	color: #154BA0;
}
.mainnav_flat_1 li a:hover, .mainnav_flat_1 li a.this:hover, .mainnav_flat_1 li a.hover, .mainnav_flat_1 li a.hover:visited {
	padding:6px 10px 5px;
	background:#395B80 none repeat scroll 0%;
	color:#9ADCFF;
}
.mainnav_flat_1 li.bug a {
	background: transparent none repeat scroll 0% !important;
	border: medium none;
	padding: 3px 5px 6px;
}
#subnav {
	position: absolute;
	z-index: 100000;
	left:0;
	top:0;
}
.mainnav_flat_2 {
	background: #395B80;
	display: block;
	white-space: nowrap;
	position: absolute;
	padding: 4px 0 10px;
	border-left:1px solid #75C9E5;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	line-height: 100%;
	margin: 0;
}
.mainnav_flat_2 li {
	display: inline;
	overflow: hidden;
	margin: 0pt;
	padding: 0;
}
.mainnav_flat_2 li a.summary, .mainnav_flat_2 li a.summary:visited {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 3px 1px;
	padding: 6px 60px 6px 10px;
}
.mainnav_flat_2 li a.this, .mainnav_flat_2 li a.this:hover, .mainnav_flat_2 li a.this:visited {
	display: block;
	margin: 3px 1px;
	padding: 6px 60px 6px 20px;
	background: #6596C0 url(/static/default/images/icons/bullet_blue.gif) no-repeat 4px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-shadow:1px 1px 0 #000;
}
.mainnav_flat_2 li a, .mainnav_flat_2 li a:visited {
	display: block;
	margin: 3px 1px;
	padding: 6px 60px 6px 20px;
	background: #395B80;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.mainnav_flat_2 li a:hover {
	background: #6596C0;
	color: #fff;
	text-shadow:1px 1px 0 #000;
}
.mainnav_flat_2 li a:active {
	background: #ffffff;
	color: #154BA0;
}
#middle {
	font-size:12px;
	margin:20px auto;
}
#topbarWrapper {
	background: #F2FBFF;
	padding: 5px;
	margin:0px auto;
	margin-bottom:14px;
}
#topbar {
	padding: 2px;
	background: #ffffff;
}
#check-domain {
	width:242px;
	font-size:12px;
	float:left;
 *width:250px;
	_width:260px;
}
#check-domain input.domain {
	width:100px;
}
#check-domain button#btn {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url("../images/trigger.gif") no-repeat scroll 0 0 transparent;
	border-color: -moz-use-text-color -moz-use-text-color #B5B8C8;
	border-style: none none solid;
	border-width: 0 0 0px;
	cursor: pointer;
	height:22px;
	right: 0;
	top: 0;
	width: 17px;
}
#check-domain .ui-state-default, #check-domain .ui-widget-content .ui-state-default, #check-domain .ui-widget-header .ui-state-default {
	border:none;
	color:none;
}
#check-domain .ui-widget {
	font-size:12px;
}
#check-domain .ui-button {
	cursor: pointer;
	display: inline-block;
	margin-right: 0em;
	overflow: visible;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none !important;
}
#check-domain .ui-state-hover, #check-domain .ui-state-hover .ui-icon, #check-domain .ui-state-focus, #check-domain .ui-state-focus .ui-icon {
	background:none;
}
#check-domain .ui-button-icon-only, #check-domain .ui-button-icon-only .ui-icon {
	left:0;
	margin-left:0px;
}
#check-domain .ui-button-icon-only .ui-button-text, #check-domain .ui-button-icons-only .ui-button-text {
	padding:0px;
	text-indent:0px;
}
#check-domain button {
	background:none;
	border: none;
	color:none;
	font-weight: normal;
}
.ui-menu .ui-menu-item a {
	font-size:12px;
}
#select-date {
	width:737px;
	position:absolute;
	right:45px;
 *right:15px;
	_right:10px;
}
#select-date #startTime, #select-date #endTime {
	width:72px;
}
#select-date #date-button {
	float:left;
}
#select-date #dates {
	float:left;
	width:290px;
}
#select-date #dates .row {
	vertical-align:bottom;
	float:left;
	padding:3px;
}
#welcome-info {
	font-size:14px;
}
#wrapp {
	margin:10px auto;
}
#left {
	clear:both;
	margin: 20px 7px 20px 20px;
	float:left;
	width:142px;
}
.x-panel {
	background-color: #F2FBFF;
	border-color: #C6E3F6;
	border-style: solid;
	border-width: 0;
	padding: 4px;
}
#left .x-border {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #C6E3F6;
	font-weight: bold;
	margin: 5px 0px 5px 10px;
	padding:10px 0px;
}
#left .x-border ul {
	margin-left:-34px;
	text-align:left;
 *margin-left:5px;
	_margin-left:5px;
}
#left .x-border ul li {
	line-height:20px;
	font-size:12px;
}
#left .x-border ul li ul li {
	margin-left:13px;
}
#left .x-border h3 {
	color: #15428B;
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 15px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}
#left .x-border .leftLink {
	font-weight: normal;
}
.currentLink {
	background: none repeat scroll 0 0 #C6E3F6;
	border-color: #C6E3F6;
	border-style: solid;
	border-width: 1px;
}
#right {
	margin-top: 24px;
	float:left;
	width:1065px;
	border:1px solid #ccc;
	_width:1043px;
	margin-bottom:20px;
 *margin-bottom:0px;
	_margin-bottom:0px;
}
#right #chanel-nav {
	border-bottom:1px dashed #ccc;
	float:left;
	margin:20px;
	padding-bottom:10px;
	font-size:12px;
}
#right #right-content {
	clear:both;
	float:left;
	margin:20px;
	width:1025px;
	_width:1000px;
}
#right #right-content .table-div {
	margin-bottom:30px;
}
#right #right-content .con-title {
	float:left;
	font-size:12px;
	margin:0px 0px 10px 20px;
}
#right #right-content table {
	clear:both;
	border:1px dashed #ccc;
	width:100%;
	border-collapse:collapse;
}
#right #right-content tr {
	padding:5px 10px;
	width:100%;
	_width:80%;
}
#right #right-content tr:hover, #right #right-content tr:hover {
	color:#00F;
	background-color:#ccc;
}
#right #right-content .blue, #right #right-content .blue {
	background-color:#f8b3d0 y-repeat;
}
#right #right-content tr td, #right #right-content tr th {
	border:none;
	line-height:25px;
	font-size:14px;
}
#right #right-content .item-title th, #right #right-content .item-title th {
	background-color:#f2fbff;
	margin-bottom:10px;
	padding:5px 10px;
}
#right #right-content .liulangqushi, #right #right-content .part-today-trend, #right #right-content .part-yestoday-trend, #right #right-content .part-recent-trend, #right #right-content .client-trend {
	border:1px dashed #ccc;
	margin:30px auto;
	padding:20px auto;
}
#right #right-content .liulangqushi .con-title, #right #right-content .part-today-trend .con-title, #right #right-content .part-yestoday-trend .con-title, #right #right-content .part-recent-trend .con-title, #right #right-content .client-trend .con-title {
	font-size:12px;
	margin:10px 0px 20px 20px;
	_margin-bottom:10px;
}
#right #right-content .liulangqushi .flash-chart, #right #right-content .part-today-trend .flash-chart, #right #right-content .part-yestoday-trend .flash-chart, #right #right-content .part-recent-trend .flash-chart, #right #right-content .client-trend .flash-chart {
	clear:both;
	width:700px;
	height:200px;
	margin:30px auto;
	border:1px solid #ccc;
 *margin:10px auto;
	_margin:10px auto;
}
#right #right-content .liulangqushi .select-type, #right #right-content .part-today-trend .select-type, #right #right-content .part-yestoday-trend .select-type, #right #right-content .part-recent-trend .select-type {
	margin-bottom:20px;
}
#right #right-content .liulangqushi .select-type .type, #right #right-content .part-today-trend .select-type .type, #right #right-content .part-yestoday-trend .select-type .type, #right #right-content .part-recent-trend .slect-type .type {
	margin-left:20px;
	font-size:12px;
	width:200px;
}
#right #right-content .con-title span {
	font-weight:normal;
}
#right #right-content .laiyuanyemian, #right #right-content .shoufangyemian, #right #right-content .fangwenleixing, #right #right-content .fangwenzhiliang {
	float:left;
	margin:30px auto;
	padding:20px auto;
	width:500px;
	_width:480px;
}
#right #right-content .shoufangyemian, #right #right-content .fangwenzhiliang {
	float:right;
}
#right #right-content .laiyuanyemian table, #right #right-content .shoufangyemian table, #right #right-content .fangwenleixing table, #right #right-content .fangwenzhiliang table {
	clear:both;
	border:1px dashed #ccc;
	width:100%;
	border-collapse:collapse;
}
#right #right-content .laiyuanyemian span.pv, #right #right-content .shoufangyemian span.pv {
	color:#006633;
}
#right #right-content .laiyuanyemian span.ip, #right #right-content .shoufangyemian span.ip {
	color:#990033;
}
#right #right-content tr, #right #right-content th {
	border-bottom:1px dashed #ccc;
}
#right #right-content #pagination-nav {
	margin:30px 20px 20px 20px;
}
#right #right-content #pagination-nav {
	font-size:14px;
}
#right #right-content #pagination-nav .first-page, #right #right-content #pagination-nav .pre-page, #right #right-content #pagination-nav .next-page, #right #right-content #pagination-nav .page-no, #right #right-content #pagination-nav .total-record, #right #right-content #pagination-nav .total-page-numer, #right #right-content #pagination-nav .jum-page {
	margin-right:10px;
}
#right #right-content input.jump-page {
	width:20px;
}
#right #right-content .pages {
	margin:30px 20px 20px 20px;
	font-size:12px;
}
#right #export-data {
	position:relative;
	right:6px;
	top:51px;
	width:100px;
	float:right;
	_right:-10px;
}
#right #export-data input.export-list {
	height:25px;
}
#right #right-content .guanjianci-title {
	clear:both;
}
#right #right-content .search-trend, #right #right-content .domain-referer-trend, #right #right-content .page-domain {
	border:1px dashed #ccc;
	margin-top:20px;
	height:200px;
}
#right #right-content .search-trend .flash-chart, #right #right-content .domain-referer-trend .flash-chart, #right #right-content .page-domain .flash-chart {
	margin:20px;
	border:1px solid #ccc;
}
#right #right-content .site-list-title, #right #right-content .getcode-title {
	font-weight:normal;
}
#right #right-content .site-list-search {
	clear:both;
	float:left;
	margin:10px 0px 20px;
0px;
}
#right #right-content .site-add {
	padding:0px 30px 30px 30px;
	width:450px;
	margin:10px auto;
	font-size:12px;
}
#right #right-content #user-login ,#right #right-content #user-reg{
	padding:0px 30px 30px 30px;
	width:150px;
	margin:10px auto;
	font-size:12px;
}
#right #right-content .site-add .row {
	float:left;
	width:388px;
	margin:10px;
	text-align:left;
}
#right #right-content #user-login .row ,#right #right-content #user-reg .row{
	float:left;
	width:120px;
	margin:10px;
	text-align:left;
}
#right #right-content .site-add .errorMessage, #right #right-content #user-login .errorMessage, #right #right-content #user-reg .errorMessage {
	margin-top:10px;
}
#right #right-content .site-add .error, #right #right-content #user-login .error ,#right #right-content #user-reg .error , #right #right-content #user-login .errorMessage, #right #right-content #user-reg .errorMessage{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}
#right #right-content .site-add label, #right #right-content .site-add input {
	clear:both;
	width:316px;
	height:20px;
}
#right #right-content #user-login label, #right #right-content #user-login input ,
#right #right-content #user-reg label, #right #right-content #user-reg input{
	clear:both;
	width:100px;
	height:20px;
}
#right #right-content .site-add textarea {
	clear:both;
	width:316px;
	height:50px;
	margin-left:11px;
}
#right #right-content .site-add input.get-site-info {
	position:relative;
	right:-260px;
 *right:-270px;
	_right:-270px;
	bottom:-33px;
	width:150px;
}
#right #right-content .site-add select {
	clear:both;
	width:150px;
	margin-left:10px;
	text-align:center;
}
#right #right-content .site-add .addsite-submit {
	width:50px;
	margin-left:150px;
}
#right #right-content #user-login input.rememberme {
	width:20px;
}
#right #right-content #user-login .user-login-submit ,#right #right-content #user-reg .user-reg-submit{
	width:50px;
}
#right #right-content .get-code .code-area {
	clear:both;
	margin:30px auto;
	width:700px;
}
#right #right-content .get-code .code-area textarea {
	text-align:left;
	margin:1px;
	padding:1px;
	width:680px;
	height:60px;
}
#right #right-content .get-code .code-area .getcode {
	clear:both;
	margin:40px auto;
	position:relative;
	bottom:-25px;
 *bottom:-10px;
	_bottom:-15px;
	height:40px;
	font-size:12px;
}
#right #right-content #bindsuccess, #right #right-content #binderror {
	clear:both;
	margin:20px auto;
	border:1px dashed #ccc;
	width:350px;
	height:70px;
	_position:absolute;
	padding:20px;
}
#right #right-content #bindsuccess p, #right #right-content #binderror p {
	font-size:12px;
	line-height:20px;
}
#right #right-content p .tip-link {
	margin:20px 40px;
}
#right #right-content .widget-mingxi, #right #right-content .widget-zhiliang, #right #right-content .widget-referer-domain {
	width:300px;
	height:100px;
	border:1px solid #ccc;
}
#right #right-content .widget-mingxi:hover, #right #right-content .widget-zhiliang:hover, #right #right-content .widget-referer-domain:hover, #right #right-content .widget-page-entrance:hover {
	color:#000;
	background-color:#fff;
}
#right #right-content .widget-mingxi .widget-title, #right #right-content .widget-zhiliang .widget-title {
	font-size:12px;
	float:left;
	margin-left:40px;
}
#right #right-content .widget-mingxi table {
	clear:both;
	margin:50px 50px 27px 50px;
	border:1px solid #ccc;
	width:80%;
}
#right #right-content .widget-mingxi table tr td, #right #right-content .widget-zhiliang table tr td, #right #right-content .widget-referer-domain table tr td {
	width:100px;
	font-size:12px;
}
#right #right-content .widget-zhiliang table {
	width:100%;
	float:left;
	margin:50px 20px 50px 7px;
	border:1px solid #ccc;
 *margin-bottom:50px;
}
#right #right-content .widget-zhiliang .zhiliang-div {
	float:left;
	margin-left:9px;
*width:200px;
	_width:160px;
*margin-bottom:50px;
}
#right #right-content .widget-referer-domain table {
	margin:50px 20px 27px 20px;
	width:95%;
}
#right #right-content .widget-page-entrance table {
	margin:50px 20px 27px 20px;
	width:95%;
	width:95%;
}
#right #right-content .widget-page-entrance .hitpic {
	border:1px solid #ccc;
	margin:50px;
	padding:10px;
}
#foot {
	clear:both;
	display:block;
	width:100%;
}
#footer {
	margin:1px auto;
	font-size:12px;
}
.main {
	width: 950px;
	min-height:600px;
	height:auto !important;
	height:600px;
	margin: 25px auto 0;
	text-align: left;
	position: relative;
}
#conditions {
	margin: 10px 0;
}
#bottom {
	margin: 10px 20px;
	padding: 10px;
	text-align: right;
	font-size: 12px;
}
.miibeian a:link {
	color: #cccccc;
	text-decoration: none;
}
.miibeian a:visited {
	color: #cccccc;
	text-decoration: none;
}
.miibeian a:hover {
	color: #999999;
	background: none;
}
.miibeian a:active {
	color: #999999;
	background: none;
}
.x-grid3-row-body p {
	color: gray;
	line-height: 140%;
	margin:5px 5px 10px !important;
}
.refresh {
	background-image:url(../images/icons/refresh.png)!important;
}
.show_heatmap {
	background-image:url(../images/icons/heatmap.png)!important;
}
.line_chart {
	background-image:url(../images/icons/chart_line.png)!important;
}
.bar_chart {
	background-image:url(../images/icons/chart_bar.png)!important;
}
.new-tab {
	background-image:url(../images/icons/new_tab.gif) !important;
}
.new-win {
	background-image:url(../images/icons/go-to-post.gif) !important;
}
.process-bottom {
	background-image: url(../images/icons/preview-bottom.gif) !important;
}
.process-right {
	background-image: url(../images/icons/preview-right.gif) !important;
}
.process-hide {
	background-image: url(../images/icons/preview-hide.gif) !important;
}
.accept {
	background-image: url(../images/icons/accept.png) !important;
}
.forward {
	background-image: url(../images/icons/forward.gif) !important;
}
.x-node-ctx {
	background:#eee !important;
	border:1px solid #ccc !important;
}
.topList {
	width:100%;
	height:100%;
}
.topList div.x-panel {
	paddign:0;
	height:300px;
	margin:0;
}
.form {
	font-size: 0.9em;
	background: #ffffff;
}
.form table, .form td {
	font-size: 14px;
}
.form b {
	font-size: 14px;
}
.button {
	background:#2680E9 none repeat scroll 0 0;
	border-color:#66ACFF #094FA1 #094FA1 #66ACFF;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	font-size:12px;
	height:23px;
	line-height:20px;
	padding:0 5px;
	text-align:center;
	vertical-align:middle;
}
.yregasterisk {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #F68622;
	font-weight: bold;
}
.ui-widget {
	font-size:12px;
}
